<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  <!-- TYPEKIT FONTS ================================================== -->
  <script src="https://use.typekit.net/xbp0ngb.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>

  <!-- MAILCHIMP STYLES -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

  <!-- Pinterest -->
  <meta name="p:domain_verify" content="4399ce832792cae4f0a5a4039e81ef5c"/>

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}{{ customer.first_name }}{% endcapture %}
              <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}
    </ul>
    <!-- //mobile-nav -->
  </div>
  {% if settings.ajax_cart_method == "drawer" %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  {% endif %}
  <div id="PageContainer" class="is-moved-by-drawer">
    <header class="site-header" role="banner">
      <div class="grid--full mini-nav">
        <div class="grid__item large--one-half">
          <p class="left">SUBSCRIBE TO OUR NEWSLETTER, GET 10% OFF YOUR NEXT ORDER</p>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//pucktees.us13.list-manage.com/subscribe/post?u=278b9254b2776ffaadce6025a&amp;id=9ae937d1d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="huge@save.com" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_278b9254b2776ffaadce6025a_9ae937d1d0" tabindex="-1" value=""></div>
                <div class="mail-submit clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  <span class="subscribe-mail-icon"></span>
                </div>
                </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
        <div class="grid__item large--one-half large--text-right medium-down--hide">

          <div>
            <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
              <span class="icon icon-cart" aria-hidden="true"></span>
              {{ 'layout.cart.title' | t }}
              <span id="CartCount" class="hidden-count">{{ cart.item_count }}</span>
              {{ 'layout.cart.items_count' | t: count: cart.item_count }}
            </a>
          </div>

        </div>
      </div>

      <div class="wrapper">

        <div class="grid">
          <div class="grid__item">
            <div class="site-header__logo">
              <a href="/" itemprop="url" class="site-header__logo-link">
                <img src="{{ 'puck-tees-original-apparel-designed-for-beauties-est-2015.png' | asset_url }}" alt="Puck Tees - Original apparel designed for beauties - est 2015" itemprop="logo">
              </a>
            </div>
          </div>
        </div>

      </div>
    </header>

    <nav class="nav-bar" role="navigation">
      <div class="wrapper">
        <div class="medium-down--hide">
          {% comment %}
            List out your main-menu linklist (default)

            More info on linklists:
              - http://docs.shopify.com/themes/liquid-variables/linklists
          {% endcomment %}
          <!-- begin site-nav -->
          <ul class="site-nav" id="AccessibleNav">
            {% for link in linklists.main-menu.links %}
              {% comment %}
                Create a dropdown menu by naming a linklist the same as a link in the parent nav

                More info on dropdowns:
                  - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
              {% endcomment %}
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                  <a href="{{ link.url }}" class="site-nav__link">
                    {{ link.title }}
                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                  </a>
                  <ul class="site-nav__dropdown">
                    {% for childlink in linklists[child_list_handle].links %}
                      <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                        <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <!-- //site-nav -->
        </div>
        <div class="large--hide medium-down--show">
          <div class="grid">
            <div class="grid__item one-half">
              <div class="site-nav--mobile">
                <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                  <span class="icon icon-hamburger" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                </button>
              </div>
            </div>
            <div class="grid__item one-half text-right">
              <div class="site-nav--mobile">
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="icon icon-cart" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>

    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <div class="footer-newsletter">
        <div class="wrapper">
          <div class="grid">
            <div class="grid__item">
              <h2>Subscribe to our newsletter and we'll give you</h2>
              <h3>10% off your next order</h3>
              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="//pucktees.us13.list-manage.com/subscribe/post?u=278b9254b2776ffaadce6025a&amp;id=9ae937d1d0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="huge@save.com" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_278b9254b2776ffaadce6025a_9ae937d1d0" tabindex="-1" value=""></div>
                    <div class="mail-submit clear">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                      <span class="subscribe-mail-icon"></span>
                    </div>
                    </div>
                </form>
              </div>
              <!--End mc_embed_signup-->
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer">
        <div class="wrapper">
          <div class="grid">
            <div class="grid__item one-third">
              <img src="{{ 'puck-tees-original-apparel-designed-for-beauties-est-2015-alternate.png' | asset_url }}" alt="Puck Tees - Original apparel designed for beauties - est 2015" itemprop="logo" class="footer-logo">
            </div>
            <div class="grid__item one-third">
              {% comment %}
                List out your main-menu linklist (default)

                More info on linklists:
                  - http://docs.shopify.com/themes/liquid-variables/linklists
              {% endcomment %}
              <!-- begin site-nav -->
              <ul class="site-nav" id="AccessibleNav">
                {% for link in linklists.main-menu.links %}
                  {% assign child_list_handle = link.title | handleize %}
                  {% if linklists[child_list_handle].links != blank %}
                    <li class="site-nav--has-dropdown" aria-haspopup="true">
                      <a href="{{ link.url }}" class="site-nav__link">
                        {{ link.title }}
                        <span class="icon icon-arrow-down" aria-hidden="true"></span>
                      </a>
                      <ul class="site-nav__dropdown">
                        {% for childlink in linklists[child_list_handle].links %}
                          <li>
                            <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li>
                      <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
              {% comment %}
                If customer accounts are enabled, provide login and create account links
              {% endcomment %}
              {% if shop.customer_accounts_enabled %}
                <p>
                  {% if customer %}
                    {% if customer.first_name != blank %}
                      {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                      {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                    {% else %}
                      <a href="/account">{{ 'layout.customer.account' | t }}</a>
                    {% endif %}
                    | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                  {% else %}
                    {{ 'layout.customer.log_in' | t | customer_login_link }}
                    | {{ 'layout.customer.create_account' | t | customer_register_link }}
                  {% endif %}
                </p>
              {% endif %}
            </div>
            <div class="grid__item one-third">
              <ul class="social-links clearfix">
                <li><a href="https://www.facebook.com/pucktees/" target="_blank" class="social-icon"><span class="facebook"></span></a></li>
                <li><a href="https://www.instagram.com/pucktees/" target="_blank" class="social-icon"><span class="instagram"></span></a></li>
                <li><a href="https://twitter.com/pucktees" target="_blank" class="social-icon"><span class="twitter"></span></a></li>
                <li><a href="https://www.pinterest.com/puck_tees/puck-tees-gear/" target="_blank" class="social-icon"><span class="pinterest"></span></a></li>
              </ul>
              <p>info@pucktees.org</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid--full mini-footer">
        <div class="grid__item one-half">
          <p>© <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Fortuna Ventures Inc.</p>
        </div>

        <div class="grid__item one-half text-right">
          {% comment %}
            Loop through available payment methods and show their icons.
          {% endcomment %}
          {% unless shop.enabled_payment_types == empty %}
            {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,laser,litecoin,maestro,master,paypal,solo,stripe,switch,visa' | split: ',' %}
            <ul class="inline-list payment-icons">
              {% for type in shop.enabled_payment_types %}
                {% if payment_icons_available contains type %}
                  <li>
                    <span class="icon-fallback-text">
                      <span class="icon icon-{{type}}" aria-hidden="true"></span>
                      <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                    </span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endunless %}
        </div>
      </div>
    </footer>
    <!-- //site-footer -->
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

</body>
</html>
